* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky;
  width: 100%;
  top: 0;
  overflow: hidden; */
}
.brand-title {
  font-size: 1.5em;
  line-height: 60px;
}

.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-links ul li {
  padding: 0 10px;
}
.navbar-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  line-height: 60px;
  display: block;
}
.navbar-links ul li a:hover {
  text-decoration: underline;
  background-color: bisque;
  cursor: pointer;
}

#home {
  background-color: #4caf50;
  display: inline-block;

  width: 100%;
  height: 700px;
  color: #fff;
}
h1 {
  margin: 100px;
  font-size: 50px;
  text-align: center;
}

#about {
  background-color: #2196f3;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}
#services {
  background-color: #ff9800;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}
#contact {
  background-color: #f44336;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}

#portfolio {
  background-color: #2196f3;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}
#blog {
  background-color: #ff9800;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}
#career {
  background-color: #f44336;
  display: inline-block;
  width: 100%;
  height: 700px;
  color: #fff;
}

.toggle-button {
  position: absolute;
  right: 20px;
  top: 15px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #c14747;
  border-radius: 10px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.3s ease,
      opacity 0.3s ease;
  }
  .navbar-links ul {
    list-style: none;
    flex-direction: column;
    width: 100%;
  }
  .navbar-links ul li {
    text-align: center;
  }
  .navbar-links ul li a {
    padding: 10px;
    line-height: 20px;
  }
  .navbar-links.active {
    display: flex;
    max-height: 300px;

    opacity: 1;
  }
}
